@media(min-width:992px) {
    .navbar1{
        height: 80px;
    }
    .navbar1 .navbar-brand {
        padding-top: 15px;
    }
    .navbar1 ul.navbar-nav{
        margin-bottom: 12px;
    }
}

@media(max-width:992px) {
    .navbar {
        background-color: #fff;
        width: 100%;
        color: #6255a5;
    }
    .navbar .navbar-brand img{
        content: url("../images/user-profile/logo.png");
        max-width: 300px;
    }
    .navbar .navbar-toggler .navbar-toggler-icon{
        color: #6255a5;
        font-weight: 700;
        font-size: 30px;
    }
    .navbar1 .navbar-toggler .navbar-toggler-icon{
        color: #6255a5;
        font-weight: 700;
        font-size: 30px;
    }
    .navbar ul.navbar-nav li a{
        color: #6255a5;
    }
    .navbar ul.navbar-nav {
        margin-top: 18px;
    }
    .navbar ul.navbar-nav li{
        height: 43px;
    }
    .navbar .btn_login{
    max-width: 89px;
    max-height: 30px;
    color: #fff;
    background-color: #6255a5;
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 0;
    margin: 0;
    border: none;
    }
    
    .navbar1{
        background-color: #fff;
        width: 100%;
        color: #6255a5;
    }
    .navbar1 .navbar-brand img{
        max-width: 300px;
    }
    .navbar1 ul.navbar-nav {
        margin-top: 18px;
    }
    .navbar1 .navbar-brand {
        padding-bottom: 15px;
        margin-left: 2.5%;
    }
    .navbar1 .nav-item {
        margin-top: auto;
    }
    .navbar1 .navbar-toggler{
        float: right;
    }
    .navbar1 ul.navbar-nav li{
        height: 45px;
    }
}


@media(max-width: 374px) {
    .navbar1 .navbar-brand img {
        max-width: 210px;
    }
}
    
@media (min-width: 1440px) and (max-width: 1599px){ /* Dashboard Stats */
    #dashboard-stats button {
        width: 150px;
        height: 40px;
        margin-top: 5px;
    }

    #stats h4 {
        font-size: 24px;   
        line-height: 28px;
        margin-bottom: 5px;
    }
    
    #stats h6 {
        font-size: 16px;
        line-height: 20px;
        margin-top: 0;
    }

    #stats-left {
        height: 130px;
    }
    
    #stats-left .state-head {
        height: 130px;
    }

    #stats .stat-item {
        height: 130px;
    } 
    #dashboard-stats {
        margin-top: 120px;
        margin-bottom: 60px;
    }
}

@media (min-width: 1200px) and (max-width: 1439px){ /* Dashboard Stats */
    
    .dashboard-table {
        width: 78.5%;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    #dashboard-stats h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }

     #dashboard-stats button {
        width: 130px;
        height: 30px;
        margin-top: 5px;
        font-size: 16px;
        line-height: 20px;
    }

    #stats h4 {
        font-size: 20px;   
        line-height: 24px;
        margin-bottom: 5px;
    }
    
    #stats h6 {
        font-size: 13px;
        line-height: 17px;
        margin-top: 0;
    }

    #stats-left {
        height: 110px;
    }
    
    #stats-left .state-head {
        height: 110px;
    }

    #stats .stat-item {
        height: 110px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){ 
    
    
    .box {
        padding: 0 6.25%;
    } 
    
    #dashboard-stats h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }

     #dashboard-stats button {
        width: 130px;
        height: 30px;
        margin-top: 5px;
        font-size: 16px;
        line-height: 20px;
    }

    #stats h4 {
        font-size: 20px;   
        line-height: 24px;
        margin-bottom: 5px;
    }
    
    #stats h6 {
        font-size: 13px;
        line-height: 17px;
        margin-top: 0;
    }

    #stats-left {
        height: 110px;
    }
    
    #stats-left .state-head {
        height: 110px;
    }

    #stats .stat-item {
        height: 110px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    
   
    .box {
        padding: 0 6.25%;
    } 
    
    #dashboard-stats h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }

     #dashboard-stats button {
        width: 130px;
        height: 30px;
        margin-top: 5px;
        font-size: 16px;
        line-height: 20px;
    }

    #stats h4 {
        font-size: 20px;   
        line-height: 24px;
        margin-bottom: 5px;
    }
    
    #stats h6 {
        font-size: 14px;
        line-height: 18px;
        margin-top: 0;
    }

    #stats-left {
        height: 100px;
        margin-bottom: 20px;
    }
    
    #stats-left .state-head {
        height: 100px;
    }

    #stats .stat-item {
        height: 100px;
    }

    #stats .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    #stats .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}


@media (min-width: 426px) and (max-width: 767px){

    .box {
        padding: 0 6.25%;
    }
    #dashboard-stats h2 {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 20px;
    }

     #dashboard-stats button {
        width: 130px;
        height: 30px;
        margin-top: 5px;
        font-size: 16px;
        line-height: 20px;
    }

    #stats h4 {
        font-size: 18px;   
        line-height: 22px;
        margin-bottom: 5px;
    }
    
    #stats h6 {
        font-size: 13px;
        line-height: 17px;
        margin-top: 0;
    }

    #stats-left {
        height: 100px;
        margin-bottom: 20px;
    }
    
    #stats-left .state-head {
        height: 100px;
    }

    #stats .stat-item {
        height: 100px;
    }

    #stats .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    #stats .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (max-width: 426px) {

    .box {
        padding: 0 6.25%;
    } 
    
    #dashboard-stats {
        margin-top: 100px;
        margin-bottom: 40px;
    }

    #dashboard-stats h2 {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }

     #dashboard-stats button {
        width: 100px;
        height: 30px;
        margin-top: 2px;
        font-size: 14px;
        line-height: 18px;
    }

    #stats h4 {
        font-size: 13px;   
        line-height: 17px;
        margin-bottom: 5px;
    }
    
    #stats h6 {
        font-size: 11px;
        line-height: 15px;
        margin-top: 0;
    }

    #stats-left {
        height: 80px;
        margin-bottom: 20px;
    }
    
    #stats-left .state-head {
        padding-left: 20px;
        padding-right: 10px;
        height: 80px;
    }

    #stats .stat-item {
        height: 80px;
    }

    #stats .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    #stats .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    } 
}




































    
    
/* ==========================================
                large Screen
===========================================*/

@media(min-width: 1200px){
    .profile-form input.phone {
        width: 111%;
        margin-left: -70px;
    }
    .earning-box .heading {
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        color: #6255a5;
        font-weight: 700;
        line-height: 34px;
    }
    
    /* note details */
    .description-note p {
        font-size: 14px;
        line-height: 14px;
    }

    .description-note {
        padding-top: 26px;
        margin-top: 3px;
    }

    .description-note-left {
        padding-left: 138px;
        padding-right: -40px;
    }

    .purple {
        color: #6255a5;
        font-weight: 600;
    }

    .yellow {
        color: #f4c613;
        font-weight: 600;
    }

    .red p {
        color: red;
        font-size: 12px;
        line-height: 12px;
        padding-left: 123px;
        padding-top: 5px;
    }

    .note-view {
        margin-top: 20px;
    }

    .customer-comment {
        border: 1px solid #333333;
        margin-top: 19px;
        margin-left: 3px;
        height: 400px;
    }

    .customer-comment img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin-left: 13px;
    }

    .first-customer {
        margin-top: 5px;
    }

    .customer-comment .customer-name-heading h3 {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 15px;
        margin-bottom: -2px;
    }

    .customer-rating {
        padding-top: 0;
    }

    .comments {
        padding-top: 10px;
    }

    .customer-comment hr {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .customer-rating i {
        font-size: 14px;
    }

    .customer-comment .comment p {
        font-size: 13px;
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        margin-bottom: -2.5px;
    }
}

/* ==========================================
                medium screen
===========================================*/

@media(min-width:786px) and (max-width:1024px) {
    
    .purple-font {
        font-family: "open sans", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        color: #6255a5;
    }

    .grey-font {
        font-family: "open sans", sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 18px;
        color: #333333;
    }
    
}

@media(min-width:992px) and (max-width:1199px) {
    
}
/* ==========================================
                small screen
===========================================*/

@media(min-width:768px) and (max-width:992px){
    /* home work */
    #work .work-tab .sub-right-heading {
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        color: #6255a5;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 48px;
    }

    #customers .customer {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        padding-top: 15PX;
        padding-left: 10PX;
        padding-bottom: 200px;
        padding-right: 0px;
        max-width: 550px;
        max-height: 250px;
        margin: 15px 0px;
        border-radius: 3px;
    }
    .customer-info {
        padding-top: 15px;
        padding-left: 35px;
        height: 100px;
    }
    .customer .profession {
        margin-left: 11px;
        margin-top: 5px;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: #333333;
        padding: 0;
    }
    
    /* mydownloads notes */
    .data-table .search-part button,
    .download-table .search-part button,
    .soldnote-table .search-part button,
    .rejectnote-table .search-part button,
    .buyerrequest-table .search-part button {
        height: 39px;
        width: 100px;
        background-color: #6255a5;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 6px;
        margin-left: 7px;
    }
    .profile-form select.code {
        width: 54%;
        padding-left: 2px;
    }

    .profile-form input.phone {
        width: 114%;
        margin-left: -50px;
    }
    
    /* note details */
    .note-description {
        margin-top: 130px;
    }

    .description-heading h3 {
        font-size: 17px;
        color: #6255a5;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        line-height: 30px;
    }

    .note-image img {
        width: 100%;
        max-height: 250px;
    }

    note-preview-right {
    }

    .note-description-heading h2 {
        color: #6255a5;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: -3px;
        line-height: 20px;
    }

    .note-description-heading p {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 13px;
        line-height: 15px;
        margin-top: 8px;
    }

    .description p {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 9px;
        line-height: 12px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .download-btn button {
        width: 120px;
        height: 30px;
        border-radius: 3px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 10px;
        line-height: 10px;
        background-color: #6255a5;
        color: #fff;
        text-transform: uppercase;
        margin-top:0px;
    }

    .download-btn button:hover {
        color: #6255a5;
        background: #fff;
        border: 1px solid #6255a5;
    }
    
    .first-customer {
        padding-top: -2px;
    }
    .description-note p {
        font-size: 10px;
        line-height: 10px;
    }

    .description-note {
        padding-top: 26px;
        margin-top: 3px;
    }

    .description-note-left {
        padding-left: 80px;
        padding-right: 0px;
    }

    .purple {
        color: #6255a5;
        font-weight: 600;
    }

    .yellow {
        color: #f4c613;
        font-weight: 600;
    }

    .red p {
        color: red;
        font-size: 10px;
        line-height: 12px;
        padding-left: 65px;
        padding-top: 5px;
    }

    .note-view {
        margin-top: 20px;
    }

    .customer-comment {
        border: 1px solid #333333;
        margin-top: 19px;
        margin-left: 3px;
        height: 84%;
    }

    .customer-comment img {
        height: 25px;
        width: 25px;
        margin-left: 13px;
    }

    .first-customer {
        margin-top: 0px;
    }

    .customer-comment .customer-name-heading h3 {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 9px;
        margin-bottom: -2px;
    }

    .customer-rating {
        padding-top: 0;
    }

    .comments {
        padding-top: 10px;
    }

    .customer-comment hr {
        margin: 0;
        margin-top: 6px;
        margin-bottom: -3px;
    }

    .customer-rating i {
        font-size: 9px;
        padding: 0px;
    }

    .customer-comment .comment p {
        font-size: 8px;
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        margin-bottom: -2.5px;
    }
    
}


/* ==========================================
                extra small Screen
===========================================*/
@media(min-width:575px) and (max-width:767px){
    #work .work-text {
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        color: #333333;
        text-align: center;
    }
    #work .work-tab .sub-right-heading {
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        color: #6255a5;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 48px;
    }
    #customers .left-customer {
       float: none;
    }

    #customers .right-customer {
        float: none;
    }
    #customers .customer{
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .data-table .search-part,
    .download-table .search-part,
    .soldnote-table .search-part,
    .rejectnote-table .search-part,
    .buyerrequest-table .search-part {
        margin-top: 30px;
        margin-left: 5%;
        margin-right: -10%;
    }
    .data-table .search-part input,
    .download-table .search-part input,
    .soldnote-table .search-part input,
    .rejectnote-table .search-part input,
    .buyerrequest-table .search-part input {
        max-height: 39px;
        max-width: 250px;
        border: 1px solid #d1d1d1;
        margin-left: 140px;
    }


    .data-table .search-part input:focus,
    .download-table .search-part input:focus,
    .soldnote-table .search-part input:focus,
    .buyerrequest-table .search-part input:focus {
        border-style: none;
    }

    .data-table .search-part button,
    .download-table .search-part button,
    .soldnote-table .search-part button,
    .rejectnote-table .search-part button,
    .buyerrequest-table .search-part button {
        max-height: 39px;
        max-width: 100px;
        background-color: #6255a5;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 6px;
        margin-left: 35px;
    }
    .table-data {
        margin-top: 20px;
        margin-left: 1px;
    }
    .profile-form select.code {
        width: 54%;
        padding-left: 2px;
    }

    .profile-form input.phone {
        width: 113%;
    }
    .profile .filter-tab {
        margin: inherit auto;
    }
    .serch-heading {
        color: #6255a5;
        font-size: 25px;
        margin-left: -5px;
        margin-bottom: 12px;
        margin-top: 35px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        line-height: 35px;
        text-align: center;
    }
    
}
@media(max-width: 610px){
    .footer p {
        font-family: Open Sans;
        font-size: 11px;
        line-height: 20px;
        color: #333333;
        text-align: center;
    }
    .footer .footer_social {
        margin-right: 38%;
    }
    .footer ul.social-list li a i {
        font-size: 11px;
    }
    .footer ul.social-list li a {
        text-align: center;
        border: 1px solid #6255a5;
        background: #6255a5;
        width: 25px;
        height: 25px;
        display: inline-block;
        line-height: 24px;
        color: #fff;
        border-radius: 50%;
        -webkit-transition: all 400ms linear;
        transition: all 400ms linear;
        padding-top: 0px;
        padding-bottom: 1px;
    }
    .customer .profession {
        margin-left: 5px;
        margin-top: 5px;
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        color: #333333;
        padding: 0;
    }
    
    .navbar {
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 0px;
    }
    .navbar .navbar-brand img{
        max-width: 200px;
    }
    .navbar .navbar-toggler .navbar-toggler-icon{
        color: #6255a5;
        font-weight: 700;
        font-size: 30px;
        padding-top: 6px;
    }
    
}

@media(max-width: 575px){
    #work .work-tab {
        margin-bottom: 20px;
    }
    .customer-info {
        padding-top: 15px;
        height: 100px;
        margin-top: -100px;
        margin-left: 120px;
    }
    .customer .profession {
        margin-left: 11px;
        margin-top: 5px;
        font-family: "Open Sans", sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 11px;
        color: #333333;
        padding: 0;
    }
    #customers .customer p {
        margin-top: 15px;
        margin-bottom: 20px;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 400;
        font-style: italic;
        line-height: 20px;
        color: #333333;
    }
    
    
    .data-table .search-part,
    .download-table .search-part,
    .soldnote-table .search-part,
    .rejectnote-table .search-part,
    .buyerrequest-table .search-part {
        margin-top: 30px;
        margin-left: 5%;
    }
    
    .data-table .data-table-intro,
    .download-table .download-table-intro,
    .soldnote-table .soldnote-table-intro,
    .rejectnote-table .rejectnote-table-intro,
    .buyerrequest-table .buyerrequest-table-intro {
        font-family: "Open Sans", sans-serif;
        font-size: 30px;
        color: #6255a5;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
    }

    .data-table .search-part input,
    .download-table .search-part input,
    .soldnote-table .search-part input,
    .rejectnote-table .search-part input,
    .buyerrequest-table .search-part input {
        max-height: 39px;
        max-width: 250px;
        border: 1px solid #d1d1d1;
    }


    .data-table .search-part input:focus,
    .download-table .search-part input:focus,
    .soldnote-table .search-part input:focus,
    .buyerrequest-table .search-part input:focus {
        border-style: none;
    }

    .data-table .search-part button,
    .download-table .search-part button,
    .soldnote-table .search-part button,
    .rejectnote-table .search-part button,
    .buyerrequest-table .search-part button {
        max-height: 39px;
        max-width: 100px;
        background-color: #6255a5;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: -5px;
        margin-left: 7px;
    }

    .table-data {
        margin-top: 20px;
        margin-left: 1px;
    }
    .profile-form select.code {
        width: 20%;
        padding-left: 2px;
    }

    .profile-form input.phone {
        width: 94.5%;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: -35px;
    }
    .note {
        width: 400px;
        height: 485px;
        padding: 13px 13px 8px 13px;
        margin-top: -14px;
        margin-bottom: -14px;
        margin-left: auto;
        margin-right: auto;
    }
    .serch-heading {
        color: #6255a5;
        font-size: 25px;
        margin-left: -5px;
        margin-bottom: 12px;
        margin-top: 35px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        line-height: 35px;
        text-align: center;
    }
    
    /* note details */
    .note-description {
        margin-top: 130px;
    }

    .description-heading h3 {
        font-size: 17px;
        color: #6255a5;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        line-height: 30px;
    }

    .note-image img {
        width: 175px;
        max-height: 250px;
    }
    
    .note-image {
        
    }
    
    note-preview-right {
    }

    .note-description-heading h2 {
        color: #6255a5;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: -3px;
        line-height: 20px;
    }

    .note-description-heading p {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 13px;
        line-height: 15px;
        margin-top: 8px;
    }

    .description p {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 9px;
        line-height: 12px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .download-btn button {
        width: 120px;
        height: 30px;
        border-radius: 3px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 10px;
        line-height: 10px;
        background-color: #6255a5;
        color: #fff;
        text-transform: uppercase;
        margin-top:0px;
    }

    .download-btn button:hover {
        color: #6255a5;
        background: #fff;
        border: 1px solid #6255a5;
    }
    
    .first-customer {
        padding-top: -2px;
    }
    .description-note p {
        font-size: 10px;
        line-height: 10px;
    }

    .description-note {
        padding-top: 26px;
        margin-top: 3px;
        width: 200px;
    }

    .description-note-left {
        padding-left: 50px;
        padding-right: 0px;
    }
    

    .purple {
        color: #6255a5;
        font-weight: 600;
    }

    .yellow {
        color: #f4c613;
        font-weight: 600;
    }

    .red p {
        color: red;
        font-size: 10px;
        line-height: 12px;
        padding-left: 65px;
        padding-top: 5px;
    }

    .note-view {
        margin-top: 20px;
    }

    .customer-comment {
        border: 1px solid #333333;
        margin-top: 19px;
        margin-left: 3px;
        height: 84%;
    }

    .customer-comment img {
        height: 25px;
        width: 25px;
        margin-left: 13px;
    }

    .first-customer {
        margin-top: 0px;
    }

    .customer-comment .customer-name-heading h3 {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 9px;
        margin-bottom: -2px;
    }

    .customer-rating {
        padding-top: 0;
    }

    .comments {
        padding-top: 10px;
    }

    .customer-comment hr {
        margin: 0;
        margin-top: 6px;
        margin-bottom: -3px;
    }

    .customer-rating i {
        font-size: 9px;
        padding: 0px;
    }

    .customer-comment .comment p {
        font-size: 8px;
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        margin-bottom: -2.5px;
    }
    
}


@media(max-width: 480px) {
    
    .data-table .search-part button,
    .download-table .search-part button,
    .soldnote-table .search-part button,
    .rejectnote-table .search-part button,
    .buyerrequest-table .search-part button {
        height: 39px;
        width: 100px;
        background-color: #6255a5;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 7px;
        margin-left: 7px;
        margin-right: 38%;
    }
    
    .data-table .search-part input,
    .download-table .search-part input,
    .soldnote-table .search-part input,
    .rejectnote-table .search-part input,
    .buyerrequest-table .search-part input {
        margin-right: 17%;
    }
}

@media(max-width: 480px) {
    .home-overlay {
        max-width: 90%;
        height: 100%;
        position: absolute;
        top: 18%;
        z-index: 1;
        overflow: visible;
        color: #fff;
    }

    .home-overlay .heading {
        font-family: "Open Sans", sans-serif;
        font-size: 35px;
        font-weight: 700;
        line-height: 45px;
        color: #fff;
    }

    .home-overlay p {
        padding-top: 10px;
        font-family: "Open Sans",sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        color: #fff;
    }

    .home-overlay .overlay-btn {
        max-width: 150px;
        max-height: 30px;
        border-radius: 3px;
        font-family: "Open Sans",sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }
    
    #about p {
        color: #333333;
        font-size: 14px;
        margin-bottom: 15px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        line-height: 18px;
    }
}
@media(max-width: 335px){
    .profile-form .add-note-button{
        width: 110px;
        height: 35px;
    }
}

@media(min-width:700px) and (max-width:768px){
    .home-overlay p {
        padding-top: 10px;
        font-family: "Open Sans",sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #fff;
    }
}
@media(min-width:480px) and (max-width:519px){
    .home-overlay .heading {
        font-family: "Open Sans", sans-serif;
        font-size: 35px;
        font-weight: 700;
        line-height: 45px;
        color: #fff;
    }

    .home-overlay p {
        padding-top: 10px;
        font-family: "Open Sans",sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        color: #fff;
    }

    .home-overlay .overlay-btn {
        max-width: 150px;
        max-height: 30px;
        border-radius: 3px;
        font-family: "Open Sans",sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

}

@media(max-width: 768px){
    
    .note-description-heading h2 {
        color: #6255a5;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: -3px;
        line-height: 20px;
    }
    
    .description-heading h3 {
        font-size: 30px;
        color: #6255a5;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    
    .description-note p {
        font-size: 13px;
        line-height: 13px;
    }

    .description-note {
        padding-top: 32px;
        margin-right: 15%;
        margin-left: -10%;
        
    }


    .purple {
        color: #6255a5;
        font-weight: 600;
    }

    .yellow {
        color: #f4c613;
        font-weight: 600;
    }

    .red p {
        color: red;
        font-size: 12px;
        line-height: 12px;
        padding-left: 21%;
        padding-top: 5px;
    }
    
    .note-view {
        margin-top: 20px;
    }

    .customer-comment {
        border: 1px solid #333333;
        margin-top: 19px;
        margin-left: 3px;
        height: 87.5%;
    }

    .customer-comment img {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: 13px;
    }

    .first-customer {
        margin-top: 0px;
    }

    .customer-comment .customer-name-heading h3 {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 13px;
        margin-bottom: 0px;
    }

    .customer-rating {
        padding-top: 0;
    }

    .comments {
        padding-top: 10px;
    }

    .customer-comment hr {
        margin: 0;
        margin-top: 8px;
        margin-bottom: 5px;
    }

    .customer-rating i {
        font-size: 13px;
    }

    .customer-comment .comment p {
        font-size: 11px;
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        margin-bottom: -2.5px;
    }
    
}

@media (max-width: 480px){
    
    /* login */
    .form-center{
        max-width: 300px;
        max-height: 470px;
        padding: 25px 30px 0px 30px;
        background: #fff;
        position: absolute;
        margin-left: 90px;
        font-size: 8px;
        font-family: "Open Sans", sans-serif;
        border-radius: 3px;
    }
    .form-center button,
    .change-form button {
        margin-bottom: 10px;
        background-color: #6255a5;
        max-width: 200px;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.65px;
        margin-left: -1px;
    }
    .form-center .login-footer {
        color: #333333;
        font-size: 9.5px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        line-height: 20px;
    }

    .form-center .login-footer a {
        color: #6255a5;
    }

    .form-center p.fp {
        font-size: 9px;
        color: #ff3636;
        line-height: 11px;
        margin-bottom: 0px;
        margin-top: -10px;
    }
    .form-center button {
        margin-top: 20px;
    }

    .form-center .login-heading h2,
    .forgot-form .forgot-heading h2,
    .change-form .change-heading h2 {
        color: #6255a5;
        font-size: 27px;
        margin-bottom: 9px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        line-height: 30px;
    }

    .form-center .login-heading p,
    .forgot-form .forgot-heading p,
    .change-form .change-heading p {
        color: #333333;
        font-size: 10px;
        margin-bottom: 30px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        line-height: 19px;
    }

    .form-center form label,
    .forgot-form form label,
    .change-form form label {
        color: #333333;
        font-size: 10px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        line-height: 10px;
    }

    .form-control:focus {
        box-shadow: none;
    }

    .form-center input,
    .forgot-form input,
    .change-form input,
    .signup-form input,
    .form-center form input:focus,
    .forgot-form form input:focus,
    .forgot-form form input:focus {
        border: 1px solid #6255a5;
        max-height: 30px;
        border-radius: 3px;
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        color: #000;
    }

    .form-center .fp span {
        font-weight: 700;
    }

    .form-center input.wrong-pw,
    .form-center form input.wrong-pw:focus {
        border: 1px solid #ff5e5e;
    }

    div.form-center label a.forgot-ps {
        float: right;
        margin-left: 112px;
        padding: 0px;
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        color: #6255a5;
    }

    .form-center label.check-label {
        margin-top: 26px;
        margin-left: 5px;
        color: #333333;
        font-size: 10px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        line-height: 20px;
    }

    .form-center .form-check-size {
        height: 12px;
        margin-top: 30px;
    }
    .form-center input.form-check-input:checked{
        height: 12px;
        margin-top: 30px;
    }
    .form-center input.form-check-input:default{
        height: 12px;
        margin-top: 30px;
    }
    
    /* change password page */
    .change-form {
        max-width: 300px;
        max-height: 470px;
        padding: 25px 30px 15px 30px;
        background: #fff;
        position: absolute;
        margin-left: 90px;
        font-size: 8px;
        font-family: "Open Sans", sans-serif;
        border-radius: 3px;
    }
    
    /* forget password page */
    .forgot-form {
        max-width: 300px;
        max-height: 250px;
        padding: 25px 30px 15px 30px;
        background: #fff;
        position: absolute;
        margin-left: 69px;
        font-size: 8px;
        font-family: "Open Sans", sans-serif;
        border-radius: 3px;
    }
    .forgot-form button{
        margin-bottom: 10px;
        background-color: #6255a5;
        max-width: 242.5px;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.65px;
        margin-left: 0px;
    }
    .emil-verification .forgot-form{
        padding: 0;
    }
    
    .forgot-form .logo4emailverification img {
        margin-left: 8px;
        margin-top: 8px;
    }

    .forgot-form .emailverificationinfo h5 {
        color: #6255a5;
        font-weight: 700;
        font-size: 15px;
        margin-left: 8px;
    }

    .forgot-form .emailverificationinfo .dear-head {
        font-size: 12px;
        font-weight: 600;
        margin-left: 8px;
    }

    .forgot-form .emailverificationinfo p {
        font-size: 13px;
        margin-left: 8px;
    }
    
    .emil-verification .forgot-form form{
        margin-left: 9%;
    }
}
@media(min-width: 992px) and (max-width: 1199px) {
    /* note details */
    #notedetails h3{
        margin-top: 10px; 
    }
    .details p {
        margin-left: 50px;
    }
    .star-margin{
        margin-left: 0;
        float: left;
    }
    .details-info{
        margin-top: 0;
    }
    #red-text{
        margin-left: 70px;
    }
    .set-padding-cicis-menu-to-go {
    padding: 121px 60px;
    }
    .star-margin{
        margin-left: 10px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    /* note details */
    
    .details p {
        margin-left: 0;
    }
    .details,
    .details-info{
        margin-top: 20px;
    }
    #red-text{
        margin-left: 12px;
    }
    
    .star-margin{
        margin-left: 30px;
    }
}

@media(max-width: 767px) {
    /* note details */
    
    .details p {
        margin-left: 0;
    }
    .details,
    .details-info{
        margin-top: 20px;
    }
    #red-text{
        margin-left: 12px;
    }
    
    .star-margin{
        margin-left: 80px;
    }
    .border-black p{
        margin-top: 10px;
    }
} 

@media(max-width: 480px) {
    /note details/
    
    .star-margin{
        margin-left: 50px;
    }
}

@media(max-width: 320px) {
    /* note details */
    .details p{
        line-height: 25px;
    }
    .details-info p{
        line-height: 20px;
    }
    .star-margin{
        margin-left: 0;
        float: right;
    }
    .details-info .rate:not(:checked) > label {
    font-size: 22px;
    }
}