@media (max-width: 480px) {
    .eye {
        margin: 0px;
        margin-top: -38px;
    }
    
    .eye-img {
        height: 16px;
        margin-right: 10px;
    }
    .btn-general {
        font-size: 16px;
    }
}


@media (max-width: 992px) {

    .section-heading {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .section-heading {
        font-size: 30px;
    }
}

@media (max-width: 576px) {

    .content-box-lg {
        padding: 0px;
        padding-top: 45px;
    }


    .section-heading {
        font-size: 28px;
    }

}

@media (max-width: 480px) {

    .section-heading {
        font-size: 27px;
    }
}


@media (max-width: 576px) {
    .general-box {
        padding: 0px 15px;
    }
}



@media (max-width: 991px) {

    .general-search-bar-btn {
        height: 40px;
    }

    .add-administrator-btn {
        height: 40px;
        font-size: 16px;
        line-height: 24px;
        width: 210px;
    }

    .add-category-btn {
        height: 40px;
        font-size: 16px;
        line-height: 24px;
        width: 180px;
    }

    .add-country-btn {
        height: 40px;
        font-size: 16px;
        line-height: 24px;
        width: 180px;
    }

    .add-type-btn {
        height: 40px;
        font-size: 16px;
        line-height: 24px;
        width: 130px;
    }
    
    .general-search-bar-btn {
        font-size: 16px;
        line-height: 26px;
    }
    .general-search-bar-btn-wrapper .has-search-bar .input-box-style {
        height: 40px;
        font-size: 14px;
    }

    .general-search-bar-btn-wrapper .form-group.has-search-bar ::placeholder {
        font-size: 14px;
        padding: 0px;
    }

    .general-search-bar-btn-wrapper .has-search-bar .search-symbol img {
        width: 16px;
        margin-top: -10px;
    }
}

@media (max-width: 767px) {

    .general-search-bar-btn-wrapper .has-search-bar .input-box-style {
        width: 160px;
    }   

    .add-administrator-btn,
    .add-category-btn,
    .add-country-btn,
    .add-type-btn {
        margin-bottom: 15px;
    }
    .general-search-bar-btn {
        margin-top: 2px;
        width: 90px;
        height: 35px;
        line-height: 20px;
    }

    .general-search-bar-btn-wrapper {
        float: left;
    }


}

@media (max-width: 575px) {
    
    .general-search-bar-btn-wrapper {
        float: left;
    }
}

@media (max-width: 316px) {
    .general-search-bar-btn {
        margin-left: 7px;
        width: 80px;
        font-size: 14px;
    }
}


@media (max-width: 575px) {
    .box-heading {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .content-box-lg {
        padding-top: 40px;
    }
}


/* .admin-manage page btns */

@media (max-width: 480px) {
    .add-administrator-btn {
        height: 35px;
        font-size: 14px;
        line-height: 20px;
        width: 180px;
        margin-bottom: 13px;
    }
    .add-category-btn {
        height: 35px;
        font-size: 14px;
        line-height: 20px;
        width: 150px;
        margin-bottom: 13px;
    }
    .add-country-btn {
        height: 35px;
        font-size: 14px;
        line-height: 20px;
        width: 150px;
        margin-bottom: 13px;
    }

    .add-type-btn {
        height: 35px;
        font-size: 14px;
        line-height: 20px;
        width: 110px;
        margin-bottom: 13px;
    }
}

@media (max-width: 340px) {
    .box-heading {
        font-size: 26px;
    }

    .general-search-bar-btn-wrapper .has-search-bar input.input-box-style {
        width: 180px;
    }  
   
}

@media (max-width: 296px) {
    .general-search-bar-btn-wrapper .has-search-bar input.input-box-style {
        width: 150px;
    } 
    .general-search-bar-btn {
        margin-top: 5px;
        font-size: 12px;
        line-height: 14px;
        height: 30px;
        width: 70px;
    }
   
}


/* =========================================
                 spam reports
============================================ */
@media (max-width: 991px) {
    .box-heading {
        margin-top: 0px;
        font-size: 30px;
    }
}

@media (max-width: 575px) {
    .box-heading {
        margin-bottom: 20px;
    }
}



@media (max-width: 575px) {
    .general-table-responsive .table-bordered tr th,
    .general-table-responsive .table-bordered tr td {
        font-size: 15px;
    }
}
