.btn-general {
    border-radius: 3px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    transition: all .5s;
}
.btn-purple {
    color: #fff;
    background: #6255a5;
}

.btn-purple:hover,
.btn-purple:focus {
    box-shadow: none;
    color: #6255a5;
    background-color: #fff;
    border: 1px solid #6255a5;

}

.content-box-lg {
    padding: 60px 0;
}


.eye {
    float: right;
    position: relative;
    margin: 0px;
    margin-top: -39px;
}

.eye-img {
    margin-right: 10px;
}



/* content box */
.general-box .content-box-lg {
    padding: 0px;
    padding-top: 60px;
}


.box-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
}
#search-notes .input-box-style {
    border: 1px solid #d1d1d1;
    font-size: 15px;
}

.search-notes-input-box .search-notes-bar {
    margin-bottom: 20px;
}

.has-search-bar .form-control {
    padding-left: 2.375rem;
}

.has-search-bar .search-symbol {
    position: absolute;
    z-index: 2;
    display: block;
    margin: 16px 0px 0px 13px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
#search-notes .searched-notes-box .col-md-4 {
    padding: 0px;
}


.general-search-bar-btn {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 110px;
    height: 50px;
}



.has-search-bar .input-box-style {
    border: 1px solid #d1d1d1;
    font-size: 15px;
    height: 50px;    
}

.has-search-bar .input-box-style:focus {
    border: 2px solid #d1d1d1;
}

/* table */

.general-table-responsive {
    margin-top: 5px;
    margin-bottom: 35px;
}

.general-table-responsive .table-bordered td, 
.general-table-responsive .table-bordered th {
    border: none;
}

.general-table-responsive .table-bordered {
    border: 1px solid #d1d1d1;
    border-radius: 3px !important;
}

.general-table-responsive .table-bordered thead {
    border-bottom: 1px solid #d1d1d1;
}

.general-table-responsive .table-bordered tr {
    height: 75px;
    border-bottom: 1px solid #d1d1d1;
}

.general-table-responsive th,
.general-table-responsive td {
    vertical-align: middle !important;    
}

.general-table-responsive .table-bordered tr th {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
}

.general-table-responsive .table-bordered tr td {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

.general-table-responsive .table-bordered tr {
    transition: all ease-in .1s;
}

.general-table-responsive .table-bordered tr:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.general-table-responsive .edit-img-in-table {
    margin-right: 15px;
}

.general-table-responsive .table-bordered tr td,
.general-table-responsive .table-bordered tr th {
    white-space: nowrap;
    overflow: hidden;
}

.general-table-responsive .table-bordered tr td.visible-overflow-for-dropdown {
    white-space: normal !important;
    overflow: visible !important;
}
.general-table-responsive table tbody tr td a img.dots-in-table {
    margin: 0px;
    width: 4px;
    height: 20px;
}

.general-table-responsive table tbody tr td .dropdown {
    display: inline;
    margin: 0px;
    width: 4px;
}

.general-table-responsive table tr td.purple-td {
    color: #6255a5;
}

.eye-img-in-table {
    margin-right: 15px;
}

/* dropdown */

.dropdown.dropdown-dots-table .dropdown-item {
    height: 40px;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 32px !important;
    transition: all ease-in .15s;
}

.dropdown-dots-table .dropdown-item:hover {
    background: #6255a5;
    color: #fff !important;
} 

.dropdown-dots-table .dropdown-item.active {
    background: #6255a5;
    color: #fff !important;
}
.spam-reports-table.general-table-responsive .dropdown.dropdown-dots-table .dropdown-menu{
    transform: translate3d(-170px, 25px, 0px) !important;
}


.general-search-bar-btn-wrapper{
    float: right;
}

.content-box-lg .margin-upper{
    margin-top: 75px;
}
