/* ==========================================
                general
===========================================*/

body,html {
    color: #333333;
    
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
}

/* ==========================================
              preloader
===========================================*/
#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    width: 70px;
    height: 70px;
    background-image: url(../images/preloader/preloader.gif);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
}
.active{
    border-bottom: 2.5px solid #6255a5;
}

/* ==========================================
              login
===========================================*/

#login .bg-image {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("../images/login/banner-with-overlay.jpg");
}

#login {
    position: relative;
}

.login-form,
.change-password-form{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-220px) translateY(100px);
    
}

.login-form img,
.forgot-password-form img,
.change-password-form img{
    margin-left: 95px;   
    margin-bottom: 25px;
    height: 35px;
}

.form-center{
    max-width: 430px;
    max-height: 470px;
    padding: 35px 50px 50px 50px;
    background: #fff;
    position: absolute;
    margin: auto;
    font-size: 12px;
    font-family: "Open Sans",sans-serif;
    border-radius: 3px;
}
.form-center button {
    margin-top: 20px;
}

.form-center .login-heading h2,
.forgot-form .forgot-heading h2,
.change-form .change-heading h2{
    color:#6255a5;
    font-size:27px;
    margin-bottom: 12px;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    line-height: 38px;
}

.form-center .login-heading p,
.forgot-form .forgot-heading p,
.change-form .change-heading p{
    color:#333333;
    font-size: 12px;
    margin-bottom: 45px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 19px;
}

.form-center form label,
.forgot-form form label,
.change-form form label{
    color:#333333;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.form-control:focus {
    box-shadow: none;
}
.form-center input,
.forgot-form input,
.change-form input,
.signup-form input,
.form-center form input:focus,
.forgot-form form input:focus,
.forgot-form form input:focus{
    border: 1px solid #6255a5;
    height: 35px;
    border-radius: 3px;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #000;
}
.form-center .fp span{
    font-weight: 700;
}
.form-center input.wrong-pw,
.form-center form input.wrong-pw:focus{
    border:1px solid #ff5e5e;
}

div.form-center label a.forgot-ps{
    float: right;
    margin-left: 151px;
    padding: 4px;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 12px;
    color: #6255a5;
}

.form-center label.check-label{
    margin-top: 30px;
    margin-left: 5px;
    color:#333333;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.form-center .form-check-size{
    height:17px;
    margin-top: 30px;
}

.form-center button,
.forgot-form button,
.change-form button{
    margin-bottom: 10px;
    background-color: #6255a5;
    width:330px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.65px; 
}

.change-form button{
    margin-top: 4px;
}

.form-center .login-footer {
    color:#333333;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.form-center .login-footer a{
    color: #6255a5;
}

.form-center p.fp{
    font-size: 10px;
    color: #ff3636;
    margin-bottom: 0px;
    margin-top: -2px;
}

/* show/hide password */
.field-icon {
    float:right;
    margin-right: 10px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    font-size: 15px;
}

#forgot-pw,
#change-pw,
#signup{
    position: relative;
}

#forgot-pw .bg-image,
#change-pw .bg-image,
#signup .bg-image{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("../images/login/banner-with-overlay.jpg");
}

.forgot-form{
    width: 430px;
    height: 295px;
    padding: 35px 50px 50px 50px;
    background: #fff;
    position: absolute;
    margin: auto;
    font-size: 12px;
    font-family: "Open Sans",sans-serif;
    border-radius: 3px;
}

.forgot-password-form{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-218px) translateY(190px);
}

.change-form{
    max-width: 430px;
    max-height: 465px;
    padding: 35px 50px 50px 50px;
    background: #fff;
    position: absolute;
    margin: auto;
    font-size: 12px;
    font-family: "Open Sans",sans-serif;
    border-radius: 3px;
}

.sign-up-form{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-218px) translateY(60px);
}

.signup-form{
    width: 430px;
    height: 570px;
    padding: 35px 50px 50px 50px;
    background: #fff;
    position: absolute;
    margin: auto;
    font-size: 12px;
    font-family: "Open Sans",sans-serif;
    border-radius: 3px;
}

.sign-up-form img{
    margin-left: 98px;   
    margin-bottom: 20px;
    height: 34px;
}

.signup-form .signup-heading h2{
    color:#6255a5;
    font-size:30px;
    margin-bottom: 0px;
    margin-top: -16px;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    line-height: 38px;
}

.signup-form .signup-heading p{
    color:#333333;
    font-size: 13px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.signup-form .signup-heading p i{
    color: green;
    font-size: 15px;
    border-radius: 2px;
    border-color: green;
}

.signup-form .signup-heading p.signup-done {
    margin-top: 21px;
}

.signup-form form label{
    color:#333333;
    font-size: 13px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 20px;
    margin-top: -10px;
}

.signup-form input,
.signup-form form input:focus{
    border: 1px solid #6255a5;
    height: 33px;
    border-radius: 3px;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #000;
    margin-top: -5px;
    margin-bottom: -5px;
}

.signup-form form span.signup-eye {
    float:right;
    margin-right: 10px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    font-size: 15px;
}

.signup-form button{
    margin-bottom: 5px;
    margin-top: 11px;
    background-color: #6255a5;
    width:330px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.65px; 
}

.signup-form .signup-footer {
    color:#333333;
    font-size: 13px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 20px;
    margin-top: 6px;
}

/* =========================================
                Navigation
============================================ */
.navbar {
    height: 100px;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-left:70px;
    padding-right: 70px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index:999;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
.navbar .selected{
    border-bottom: 3px solid #6255a5;;
}
.navbar .nav-item a{
    margin-right: 20px;
    font-family: Open sans;
    color: #333333;
}
.navbar .nav-item a:hover{
    color: #6255a5;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.navbar .btn_login:hover{
    color: #fff;
    font-weight: 400;
    background-color: #6255a5;
    -webkit-transition:all .6s;
    transition:all .6s;
    border: 2px solid #fff;
}

.navbar .nav-item a img{
    border-radius: 50%;
    height:35px;
    width: 35px;
    margin-top: -7px;
}
.navbar .btn_login{
    width: 89px;
    height: 30px;
    color: #fff;
    background-color: #6255a5;
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    border: none;
    border: 1px solid #6255a5;
    margin-top: 4px;
}
.navbar .btn_login:hover{
    color: #6255a5;
    background-color: #fff;
    -webkit-transition:all .6s;
    transition:all .6s;
    border: 1px solid #6255a5;
}

#nav-bar-contact-us li.selected{
    border-bottom: 1px solid #6255a5;
}
/*-- Home Overlay --*/
.home_overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    z-index: 1;
    overflow: visible;
    color: #fff;
}
.home_overlay .heading{
    font-family: Open Sans;
    font-size: 50px;
    font-weight:700;
    line-height: 54px;
    color: #fff;
}
.home_overlay p{
    padding-top: 23px;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
}
.home_overlay .overlay_btn{
    width: 172px;
    height: 30px;
    border-radius: 3px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.dashboard-counter{
    margin-top: 130px;
}
.dashboard-intro{
    margin-bottom: 15px;
    padding-right: 2px;
}

.dashboard-counter .dashboard-heading,
.members-table .data-table-intro{
    font-family: "Open Sans",sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}
.members-table .seller-intro{
    font-size: 13px;
    font-family: "Open Sans",sans-serif;
    margin-top: 20px;
    margin-bottom: 4px;
}
.members-table .search-reject-part select{
    
    border: 1px solid #d1d1d1;
    font-size: 14px;
    padding-left: 3px;
    color: #d1d1d1;
    height: 39px;
}
.data-table .search-part input,
.members-table .search-part input{
    height: 39px;
    width:250px;
    border: 1px solid #d1d1d1;
    font-size: 14px;
    color: #d1d1d1;
}
.data-table .search-part select,
.members-table .search-part select{
    border: 1px solid #d1d1d1;
    font-size: 14px;
    padding-left: 3px;
    color: #d1d1d1;
}
.data-table .search-part input:focus,
.members-table .search-part input:focus{
    border-style: none;
}

.data-table .data-table-intro{
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    color: #6255a5;
    font-weight: 600;
    line-height: 28px;
}

.data-table .search-part select.month-filter,
.members-table .search-part select.month-filter{
    height: 39px;
    width: 135px;
    margin-left: 5px;
}

.data-table .search-part button,
.members-table .search-part button{
    height: 39px;
    width: 100px;
    background-color: #6255a5;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -5px;
    margin-left: 7px;
}

.table-data{
    margin-top: 20px;
    margin-left:1px;
}

.data-table table,
.members-table table{
    width: 98.5%;
    border: 1px solid #d1d1d1;
}

.dashboard-counter .counter .heading{
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    color: #6255a5;
    font-weight: 700;
    line-height: 34px;
}

.dashboard-counter .counter .sub-heading{
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 10px;
    color: #333333;
}

.review-box,
.notes-box,
.registration-box{
    border: 1px solid #d1d1d1;
    height: 125px;
    padding-top: 25px;
}

.data-table{
    margin-top: 50px;
}
.members-table{
    margin-top: 150px;
}

.table-data table th{
    font-family: "Open Sans",sans-serif;
    font-size: 13.5px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
    text-align: center;
}

.table-data table tr{
    min-height: 60px;
    border-bottom: 1px solid #d1d1d1;
}

.table-data table tr td{
    padding-left: 0px;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    text-align: center;
}

.table-data table tr td.purple-color{
    color: #6255a5;
}
.table-data table tr:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}
.table-data table th.srno{
    width: 7%;
}
.table-data table th.title{
    width: 12%;
    
}
.table-data table th.category{
    width: 10%;
}
.table-data table th.attachmentsize{
    width: 13%;
}
.table-data table th.selltype{
    width: 9%;
}
.table-data table th.price{
    width: 10%;
}
.table-data table th.publisher{
    width: 11%;
}
.table-data table th.publisheddate{
    width: 15%;
}
.table-data table th.downloads{
    width: 10%;
}
.table-data table th.msrno{
    width: 6%;
}
.table-data table th.firstname{
    width: 8%;
}
.table-data table th.lastname{
    width: 8%;
}
.table-data table th.email{
    width: 18%;
}
.table-data table th.joiningdate{
    width: 13%;
}
.table-data table th.underreviewnotes{
    width: 10%;
}
.table-data table th.publishednotes{
    width: 9%;
}
.table-data table th.downloadednotes{
    width: 8%;
}
.table-data table th.totalexpenses{
    width: 8%;
}
.table-data table th.totalearnings{
    width: 8%;
}
.table-data table th.rsrno{
    width: 8%;
}
.table-data table th.rnotetitle{
    width: 12%;
}
.table-data table th.rcategory{
    width: 10%;
}
.table-data table th.rseller{
    width: 13%;
}
.table-data table th.reye{
    width: 1%;
}
.table-data table th.rdateadded{
    width: 13%;
}
.table-data table th.rrejectedby{
    width: 9%;
}
.table-data table th.rremark{
    width: 31%;
}
.table-data table th.dsrno{
    width: 8%;
}
.table-data table th.dnotetitle{
    width: 12%;
}
.table-data table th.dcategory{
    width: 10%;
}
.table-data table th.dbuyer{
    width: 14%;
}
.table-data table th.reye{
    width: 1%;
}
.table-data table th.dseller{
    width: 14%;
}
.table-data table th.dselltype{
    width: 9%;
}
.table-data table th.dprice{
    width: 9%;
}
.table-data table th.ddate-time{
    width: 12%;
}
.table-data table th.psrno{
    width: 8%;
}
.table-data table th.pnotetitle{
    width: 12%;
}
.table-data table th.pcategory{
    width: 10%;
}
.table-data table th.pselltype{
    width: 7%;
}
.table-data table th.pprice{
    width: 8%;
}
.table-data table th.peye{
    width: 1%;
}
.table-data table th.pseller{
    width: 13%;
}
.table-data table th.ppublisheddate{
    width: 15%;
}
.table-data table th.papprovedby{
    width: 12%;
}
.table-data table th.pnumberofdownloads{
    width: 8%;
}
.table-data table th.usrno{
    width: 7%;
}
.table-data table th.unotetitle{
    width: 11%;
}
.table-data table th.ucategory{
    width: 9%;
}
.table-data table th.useller{
    width: 11%;
}
.table-data table th.ueye{
    width: 1%;
}
.table-data table th.udateadded{
    width: 14%;
}
.table-data table th.ustatus{
    width: 13%;
}

.table-data table th.udropdown{
    width: 1%;
}
.table-data table th.mnsrno{
    width: 8%;
}
.table-data table th.mnnotetitle{
    width: 12%;
}
.table-data table th.mncategory{
    width: 10%;
}
.table-data table th.mnstatus{
    width: 9%;
}
.table-data table th.mndownloadednotes{
    width: 14%;
}
.table-data table th.mntotalearnings{
    width: 13%;
}
.table-data table th.mndateadded{
    width: 14%;
}
.table-data table th.mnpublisheddate{
    width: 14%;
}

button.action-btn{
    height: 35px;
    width: 80px;
    margin: 1px 0px;
    font-size: 14px;
}
button.btn-grey{
    background-color: #d1d1d1;
    color: #fff;
}
button.btn-grey:hover{
    color: #fff;
}

.pagination{
    margin:40px auto 0px auto;
}
.pagination .aeros{
    margin-top: -1px;
}

.page-item{
    margin: 0 5px;
}

.page-link{
    border-style: none;
    border-radius: 50%;
    color: #333333;
}

.on-page{
    background-color: #6255a5;
    color: #fff;
}

.page-link:focus{
    background: #6255a5;
    color: #fff;
}
.dropdown .dropdown-menu .dropdown-item{
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    color: #333333;
}
.footer-admin{
    padding-top: 15px;
    max-height: 20px;
}
.footer-admin p{
    font-family: Open Sans;
    font-size: 10px;
    line-height: 18px;
    color: #333333;
}
.footer-user{
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer-user p{
    font-family: Open Sans;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}
.footer-user ul.social-list {
	padding: 0;
    margin: 0;
}

.footer-user ul.social-list li {
	display: inline-block;
	padding: 0;
}

.footer-user ul.social-list li a {
    text-align: center;
	border: 1px solid #6255a5;
    background: #6255a5;
	width: 35px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	color: #fff;
	border-radius: 50%;
	transition: all 400ms linear;
}

.footer-user ul.social-list li:nth-child(1) a:hover {
	background-color: #3b5998;
	border-color: transparent;
}

.footer-user ul.social-list li:nth-child(2) a:hover {
	background-color: #00aced;
	border-color: transparent;
}

.footer-user ul.social-list li:nth-child(3) a:hover {
	background-color: #dd4b39;
	border-color: transparent;
}
/* note details */


/*
   general styles
*/
.center-block-horiz {
   margin-left: auto !important;
   margin-right: auto !important;
 }
/*.set-margin-cicis-menu-to-go {
  margin: 20px;
}*/
.set-padding-cicis-menu-to-go {
  padding: 86px 60px;
}
.set-border-cicis-menu-to-go {
   border: 1px solid #d1d1d1;
}
set-box-shadow-cicis-menu-to-go {
  -webkit-box-shadow: 4px 4px 14px #4f4f4f;
          box-shadow: 4px 4px 14px #4f4f4f;
}
  
/*
** Style the iframe
** =========================
*/
/*
    css commmon to all iframes
*/
.responsive-wrapper {
  position: relative;
  height: 0;    /* gets height from padding-bottom */
  overflow: hidden;
  /* put following styles (necessary for overflow and 
     scrolling handling) inline in .embed-responsive-element-wrapper around iframe because not stable in CSS
    -webkit-overflow-scrolling: touch; 
                      overflow: auto; */
}
.responsive-wrapper img,
.responsive-wrapper object,
.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: none;
  padding: 0;
  margin: 0;
}

/*
    css particular to this iframe
*/

#Iframe-Cicis-Menu-To-Go {
  max-width: 666.67px;
  max-height: 600px;
  overflow: hidden;
}
/*
   padding-bottom = h/w as %
*/
.responsive-wrapper-padding-bottom-90pct {
  padding-bottom: 90%;
}
#notedetails{
    margin-top: 90px;
}

#notedetails h4{
    font-weight: 600;
    color: #6255a5;
    padding: 50px 0 20px 0;
}
#notedetails h3{
    font-weight: 600;
    color: #6255a5;
    margin-top: 20px;
}
#notedetails p span{
    color: #333333;
    font-weight: 400;
    margin-top: 0;
}
#review{
    color: #333333;
    font-weight: 400;
    font-size: 15px;
    margin: 25px 0;
}
#notedetails a{
    width: 170px;
    height: 35px;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;;
    background-color: #6255a5;
}
.details p{
    color: #333333;
    font-weight: 500;
    margin-left: 120px;
    line-height: 18px;
    font-size: 14px;
}
.details-info p{
    color: #6255a5;
    line-height: 18px;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
}
#red-text{
    color: red;
    font-size: 14px;
    margin-left: 140px;
}

#notepreview h4{
    font-weight: 600;
    color: #6255a5;
    padding: 40px 0 10px 0;
    margin-left: 0;
}
#notepreview h6{
    font-size: 15px;
    margin-bottom: 0;
    font-weight: 600;
}
#notepreview p{
    font-size: 14px;
}
.border-black{
    border: 1px solid #d1d1d1;
    padding: 20px;
    border-radius: 3px;
}
.delete-img{
    width: 50px;
    height: 50px;
}
.bottom-black{
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 20px;
}
.star-margin{
    -webkit-transform: translateY(-11px);
    transform: translateY(-11px);
    margin-left: 15px;
}
.line{
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 40px;
}

.rate {
    float: left;
    height: 25px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:28px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

.rate-space{
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px);
}
.bottom-box-effect{
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);
}

.modal-dialog{
    margin-top: 20px;
}

.modal-body input{
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-feedback-heading{
    color: #6255a5;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-left: 3px;
}
.modal-feedback-stars{
    margin-bottom: 10px;
}

#feedback-modal .text-modal h6{
    color: #333333;
    font-size: 16px;
}
.modal-feedback-form{
    margin-top: 20px;
}

.modal-feedback-form label{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin-left: -155px;
    margin-top: 5px;
}

.modal-feedback-form input{
    margin-top: 125px;
    height: 100px;
    width: 450px;
}
.comments-feedback{
    margin-top: 5px;
}



.head-modal{
    margin-top: 25px;
    margin-bottom: 35px;
}

.head-modal img{
    height: 63px;
    width: 63px;
}
.head-modal h3{
    font-size: 26px;
    margin-top: 15px;
    font-family: "Open Sans",sans-serif;
    color: #6255a5;
    font-weight: 600;
    line-height: 30px;
}
.text-modal{
    padding-left:20px;
    padding-right:25px;
}

.text-modal span{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    font-family: "Open Sans",sans-serif;
}

.text-modal p{
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    font-family: "Open Sans",sans-serif; 
}

.dropdown .dropdown-menu .dropdown-purple{
    color: #6255a5;
    font-weight: 600;
    text-transform: uppercase;
}
.admin-profile-form{
    margin-top: 120px;
}
.profile-form-heading h2{
    color:#6255a5;
    font-size:30px;
    margin-left: -16px;
    margin-bottom: 22px;
    margin-top: 20px;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    line-height: 35px;
}
.profile-form label{
    color:#333333;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.profile-form input,
.profile-form input:focus,
.profile-form select,
.profile-form select:focus,
.profile-form textarea,
.profile-form textarea:focus{
    border: 1px solid #6255a5;
    height: 35px;
    border-radius: 3px;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #000;
    width: 95%;
}
.profile-form select.code{
    width: 54% !important;
    margin-right: 0px;
}

.profile-form input.phone{
    width:111.5% !important;
    margin-left: -70px !important;
}
.profile-form .pp-upload{
    border: 1px solid #6255a5;
    display: inline-block;
    width: 95%;
    padding: 120px 0 0 0;
    height: 100px;
    overflow: hidden;
    box-sizing: border-box;
    background: url('../images/user-profile/upload.png') center center no-repeat;
    border-radius: 3px;
    background-size: 80px 80px;
}
.profile-form textarea.hw{
    width: 94.7% !important;
    height: auto !important;
}
.profile-form .btn-profile{    
    width: 130px;
    height: 35px;
    border-radius: 3px;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    background-color: #6255a5;
    color: #fff;
    text-transform: uppercase;
}
.members-table .search-download-part{
    margin-top: 25px;
    margin-bottom: -15px;
    padding-bottom: -2px;
}
.search-download-part label{
    font-size: 14px;
    margin-bottom: -2px;
    margin-left: 2px;
    color: #333333;
}

.search-download-part input.search-input{
    max-height: 39px;
    max-width: 250px;
    border: 1px solid #d1d1d1;
    margin-left: 180px;
    font-size: 14px;
    color: #d1d1d1;
}
.search-download-part select{
    border: 1px solid #d1d1d1;
    font-size: 14px;
    color: #d1d1d1;
    width: 150px;
}
.search-download-part select.hide-select{
    display: none;
}
.search-download-part input.search-download-btn{
    max-height: 39px;
    max-width: 107px;
    background-color: #6255a5;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -63px;
    margin-right: 0px;
    color: #fff;
    text-transform: uppercase;
}
.search-download-part input.search-download-btn:hover{
    border: 1px solid #6255a5;
    color: #6255a5;
    background-color: #fff;
}
.members-table .member-notes-table-heading h2{
    color:#6255a5;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 27px;
}

.member-details .member-details-heading h2{
    color:#6255a5;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.member-details{
    margin-top: 135px;
}
.member-info{
    margin-top: 8px;
}
.member-info img{
    width: 120px ;
    max-height:  180px;
}
.member-details .purple-member-details{
    font-size: 13px;
    font-family: "Open Sans",sans-serif;
    line-height: 13px;
    color: #6255a5;
    font-weight: 600;
}
.member-details .table{
    font-size: 13px;
    font-family: "Open Sans",sans-serif;
    line-height: 13px;
    margin-left: 0px;
}
.member-details table tr{
    max-height: 13px;
}
.member-details table td{
    max-width: 450px;
}
.member-details .left-table{
    border-right: 1px solid #d1d1d1;
    border-right-style: ridge;
}
.member-details table.right-table tr{
    padding-left: 15px;
}
.member-details table.right-table .purple-member-details{
    padding-left: -15px;
}
.member-details .right-table td{
    min-width:  100px;
}
.members-details-table{
    margin-top: 40px;
}
#reject-modal .reject-form-heading h5{
    color: #6255a5;
    font-weight: 600;
    font-size: 24px;
    margin-top: 25px;
    padding-left: 2px;
}
#reject-modal .reject-form{
    margin-top: px;
}
#reject-modal .modal-reject-form textarea{
    margin-left: -13px;
    border: 1px solid #d1d1d1;
    font-size: 14px;
    line-height: 14px;
    font-family: "Open Sans",sans-serif;
    padding: 10px 0px 0px 10px;
}
#reject-modal .modal-reject-form label{
    margin-left: -13px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
}
#reject-modal .modal-reject-form{
    padding: 15px 10px;
}
#reject-modal .modal-reject-form .reject-buttons{
    margin-top: 10px;
    margin-left: -16px;
}

#publish-modal .reject-form-heading h5{
    color: #6255a5;
    font-weight: 600;
    font-size: 24px;
    margin-top: 25px;
    padding-left: 2px;
}
#publish-modal .reject-form{
    margin-top: px;
}
#publish-modal .modal-reject-form textarea{
    margin-left: -13px;
    border: 1px solid #d1d1d1;
    font-size: 14px;
    line-height: 14px;
    font-family: "Open Sans",sans-serif;
    padding: 10px 0px 0px 10px;
}
#publish-modal .modal-reject-form label{
    margin-left: -13px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
}
#publish-modal .modal-reject-form{
    padding: 15px 10px;
}
#publish-modal .modal-reject-form .reject-buttons{
    margin-top: 10px;
    margin-left: -16px;
}
#publish-modal .modal-reject-form .reject-buttons button{
    width: 100px;
}
#notedetails button{
    width: 170px;
    height: 35px;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;;
    background-color: #6255a5;
}
#notedetails button:hover{
    color: #6255a5;
    background-color: #fff;
    border: 1px solid #6255a5;
}
#notedetails a.download-button{
    text-decoration:none;
}
.border-black{
    border: 1px solid #d1d1d1;
    padding: 20px;
    border-radius: 3px;
    overflow-x: hidden; 
    overflow-y: scroll;
    height: 395px; 
}
#Iframe-Cicis-Menu-To-Go {
  max-width: 666.67px;
  max-height: 395px;
  
  overflow: hidden;
}
.bottom-black{
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 20px;
}
.star-margin{
    -webkit-transform: translateY(-11px);
    transform: translateY(-11px);
    margin-left: 15px;
}
#notedetailsrate {
}
.line{
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 40px;
}
.rate {
    float: left;
    height: 25px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:28px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

.rate-space{
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px);
}
.reviewer-photo {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
#notepreview h4{
    font-weight: 600;
    color: #6255a5;
    padding: 40px 0 10px 0;
    margin-left: 0;
}
#notepreview h6{
    font-size: 15px;
    margin-bottom: 0;
    font-weight: 600;
}
#notepreview p{
    font-size: 14px;
}
.rate-space img{
    width: 14px;
    height: 14px;
}
.rate-space{
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px);
}
.rate1 .rate{
    margin-left: -12px;
}
#red-text{
    color: red;
    font-size: 14px;
    margin-left: 140px;
}
.center-block-horiz {
   margin-left: auto !important;
   margin-right: auto !important;
 }
/*.set-margin-cicis-menu-to-go {
  margin: 20px;
}*/
.set-padding-cicis-menu-to-go {
  padding: 86px 60px;
}
.set-border-cicis-menu-to-go {
   border: 1px solid #d1d1d1;
}
set-box-shadow-cicis-menu-to-go {
  -webkit-box-shadow: 4px 4px 14px #4f4f4f;
          box-shadow: 4px 4px 14px #4f4f4f;
}
  
/*
** Style the iframe
** =========================
*/
/*
    css commmon to all iframes
*/
.responsive-wrapper {
  position: relative;
  height: 0;    /* gets height from padding-bottom */
  overflow: hidden;
  /* put following styles (necessary for overflow and 
     scrolling handling) inline in .embed-responsive-element-wrapper around iframe because not stable in CSS
    -webkit-overflow-scrolling: touch; 
                      overflow: auto; */
}
.responsive-wrapper img,
.responsive-wrapper object,
.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: none;
  padding: 0;
  margin: 0;
}

/*
    css particular to this iframe
*/
/*
   padding-bottom = h/w as %
*/
.responsive-wrapper-padding-bottom-90pct {
  padding-bottom: 90%;
}